@media (max-width: 40rem) {
  html {
    font-size: 52.5%;
  }

  .product-card {
    grid-template-columns: 1fr;
    width: 34rem;
  }

  .product-img {
    height: 28rem;
    background-image: url(img/image-product-mobile.jpg);
  }

  .product-content-box {
    padding: 2rem;
  }

  .sub-heading {
    margin-bottom: 1.5rem;
  }

  .product-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .product-detail {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    width: 98%;
  }

  .product-price-box {
    margin-bottom: 1.5rem;
  }

  .product-price-1 {
    font-size: 3rem;
  }

  .product-price-2 {
    font-size: 1.2rem;
  }

  span {
    font-size: 1.2rem;
  }
}
