@media (max-width: 40rem) {
  html {
    font-size: 52.5%;
  }

  .product-card {
    grid-template-columns: 1fr;
    width: 36rem;
  }

  .product_img {
    height: 25rem;
    background-image: url(img/image-product-mobile.jpg);
  }

  .sub_heading {
    margin-bottom: 1.5rem;
  }

  .product_title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .product_detail {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .product_price_box {
    margin-bottom: 1.5rem;
  }

  .product_price_1 {
    font-size: 3rem;
  }

  .product_price_2 {
    font-size: 1.4rem;
  }

  .product_link:link,
  .product_link:visited {
    padding: 1.6rem;
  }

  span {
    font-size: 1.4rem;
  }
}
